<div class="form-step-container">

  <div class="p-5 bg-light mb-4">
    <nav class="d-flex">
      <h6 class="mb-0">
        <a routerLink="/">{{ "Breadcrumb.PROFILE" | translate }}</a> >
        <a routerLink="/form-step1">{{"Breadcrumb.DECEASED_INFO" | translate }}</a>>
        <a routerLink="/form-step2">{{"Breadcrumb.YOUR_INFO" | translate }}</a>>
        <a routerLink="/form-step3">{{"Breadcrumb.TAX_RESIDENCE" | translate}}</a>>
        <a routerLink="/form-step4">{{"Breadcrumb.US_PROFILE" | translate}}</a>>
        <a routerLink="/form-step5">{{ 'Breadcrumb.FISCAL_NUMBER' | translate }}</a>
        <a class="text-reset">{{ 'Breadcrumb.SUMMARY' | translate }}</a>

      </h6>
    </nav>
  </div>

  <div class="summary-header d-flex align-items-center">
    <button class="btn back-button" (click)="previousStep()">
      <i class="bi bi-arrow-left-circle-fill"></i>
    </button>
    <div>
      <h1>{{ "Summary.FORM_TITLE" | translate }}</h1>
      <p class="titre-form">{{ "Summary.FORM_SUBTITLE" | translate }}</p>
    </div>
  </div>
  
    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>


<br>
    <p>
      {{ "Summary.FORM_TITLE" | translate }}    </p>
    <section class="summary-section">
      
      <h3>Informations du défunt</h3>
      <div class="summary-details">
        <div><strong>{{ "Step 1.FORM_LABEL_NAME" | translate}} :</strong> {{ deceasedInfo.lastName }}</div>
        <div><strong>{{ "Step 1.FORM_LABEL_FIRST_NAME" | translate}}:</strong> {{ deceasedInfo.firstName }}</div>
        <div><strong>{{"Step 1.FORM_LABEL_BIRTH_DATE" | translate  }}:</strong> {{ deceasedInfo.birthDate |date}}</div>
        <div><strong>{{"Step 1.FORM_PLACEHOLDER_CLIENT_NUMBER" | translate}}:</strong> {{ deceasedInfo.clientNumber }}</div>
      </div>
      <button class="button-edit"  (click)="editSection('deceased')">Modifier</button>
    </section>
  

    <section class="summary-section">
      <h3>Vos informations</h3>
      <div class="summary-details">
        <div><strong>{{ "Step2.LABEL_LAST_NAME" | translate }}:</strong> {{ personalInfo.lastName }}</div>
        <div><strong>{{ "Step2.LABEL_USAGE_NAME" | translate }}:</strong> {{ personalInfo.usageName }}</div>
        <div><strong>{{ "Step2.LABEL_FIRST_NAME" | translate }}:</strong> {{ personalInfo.firstName }}</div>
        <div><strong>{{ "Step2.LABEL_BIRTH_DATE" | translate }}:</strong> {{ personalInfo.birthDate |date }}</div>
        <div><strong>{{ "Step2.LABEL_BIRTH_CITY" | translate }}:</strong> {{ personalInfo.birthCountry }}</div>
        <div><strong>{{ "Step2.LABEL_BIRTH_COUNTRY" | translate }}:</strong> {{ personalInfo.birthCity }}</div>
        <div><strong>{{ "Step2.LABEL_MAIN_ADDRESS" | translate }}:</strong> {{ personalInfo.address }}</div>
        <div><strong>{{"Step2.PLACEHOLDER_ADDRESS_COMPLEMENT" | translate}}:</strong> {{ personalInfo.addressComplement }}</div>
        <div><strong>{{ "Step2.LABEL_POSTAL_CODE" | translate }}:</strong> {{ personalInfo.postalCode }}</div>
        <div><strong>{{ "Step2.LABEL_CITY" | translate }}:</strong> {{ personalInfo.city }}</div>
        <div><strong>{{ "Step2.LABEL_COUNTRY" | translate }}:</strong> {{ personalInfo.country }}</div>
      </div>
      <button class="button-edit"  (click)="editSection('personal')">Modifier</button>
    </section>
     
    <section class="summary-section">
      <h3>Informations fiscales</h3>
      <div class="summary-details">
        <p><strong>{{ "Step5.LABEL_COUNTRY" | translate }}:</strong> {{ taxResidenceInfo.country }}</p>
        <p><strong>{{ "Step5.LABEL_NIF" | translate }} :</strong> {{ taxResidenceInfo.nif }}</p>
      </div>
      <button class="button-edit"  (click)="editSection('taxIdentification')">Modifier</button>
    </section>

    <!-- Validation -->
    <div class="button-container">
      <button  (click)="validate()">Valider</button>
    </div>
  </div>
  