 
  <nav class="navbar">
    <div class="navbar-content">
      <!-- Logo -->
      <div class="logo-container">
        <img src="/assets/logo.jpg" alt=" Logo" />
      </div>
      <!-- Navbar Links -->
      <ul class="navbar-links">
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/form-step1">Autocertification</a></li>
        <li><a >Nous contacter</a></li>
        <li><a >Deconnexion</a></li>


      </ul>
      <div class="language-switch">
        <button class="flag" (click)="switchLanguage('en')"><span class="fi fi-gb"></span></button>
        <button class="flag" (click)="switchLanguage('fr')"><span class="fi fi-fr"></span></button>
      </div>
      
    </div>
  </nav>
  