.form-step1-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.valid-icon {
  color: #28a745;
  font-size: 20px;
}

.summary-header {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #f9f9f9;
  padding: 10px 20px;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #13aa9a;
  font-size: 24px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0;

  color: #13aa9a;
  text-transform: uppercase;
}

.instructions {
  font-size: 10px;
  color: #6c757d;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titre-form {
  margin: 0 0 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    text-transform: none;
    font-size: 1rem;
    padding: 10px 30px;
    border: none;

    &.active-button {
      background-color: #13aa9a;
      color: #fff;
      cursor: pointer;
    }

    &.disabled-button {
      background-color: #cccccc;
      color: #666666;
      cursor: not-allowed;
    }
  }
}

.wider-input {
  width: 65%;
  margin: 0 auto;
}

.mat-form-field {
  margin-bottom: 15px;
}

.form-step1-container {
  max-width: 1100px;
}
