
<div class="home-container">
  <!-- Back Button -->
  <div class="home-header">
    <h1>{{'Home.INTRO_TITLE' | translate }}</h1>
  </div>

  <!-- Intro Content with Image -->
  <div class="content-with-image">
    <!-- Left Side: Text Content -->
    <div class="text-content">
      <h2>{{'Home.FORM_PURPOSE' | translate }}</h2>
      <p>
        {{'Home.FORM_PURPOSE_DESC_1' | translate }}
      </p>
      <p>
        {{'Home.FORM_PURPOSE_DESC_2' | translate }}

      </p>
      <p>
        {{'Home.FORM_PURPOSE_DESC_3' | translate }}

      </p>
    </div>

    <!-- Right Side: Image -->
    <div class="image-container">
      <img src="assets/logo.jpg" alt="Placeholder Image" />
    </div>
  </div>

  <!-- Steps Section -->
  <div class="steps-container">
    <h3>        {{'Home.STEPS_TO_FOLLOW' | translate }}    </h3>
    <div class="steps">
      <div class="step">
        <span>1</span>
        <p>{{'Home.STEP_1' | translate }}</p>
      </div>
      <div class="step">
        <span>2</span>
        <p>{{'Home.STEP_2' | translate }}</p>
      </div>
      <div class="step">
        <span>3</span>
        <p>{{'Home.STEP_3' | translate }}</p>
      </div>
    </div>
  </div>

  <!-- Start Button -->
  <button class="start-button" routerLink="/form-step1">
    {{'Home.START' | translate }}
  </button>

  <!-- Disclaimer -->
  <p class="disclaimer">
    {{'Home.DISCLAIMER' | translate }}

  </p>
</div>
