<div class="form-step-container">
  <!-- Breadcrumb -->
  <div class="p-5 bg-light mb-4">

    <nav class="d-flex">
      <h6 class="mb-0">
        <a routerLink="/">{{ 'Breadcrumb.PROFILE' | translate }}</a> >
        <a routerLink="/form-step1">{{ 'Breadcrumb.DECEASED_INFO' | translate }}</a> >
        <a routerLink="/form-step2">{{ 'Breadcrumb.YOUR_INFO' | translate }}</a> >
        <a class="text-reset">{{ 'Breadcrumb.TAX_RESIDENCE' | translate }}</a>

      </h6>
    </nav>
  </div>

  <!-- Header -->
  <div class="summary-header d-flex align-items-center">
    <button class="btn back-button" (click)="previousStep()">
      <i class="bi bi-arrow-left-circle-fill"></i>
    </button>
    <div>
      <h1>{{ 'Step3.FORM_TITLE' | translate }}</h1>
      <p class="titre-form">{{ 'Step3.FORM_SUBTITLE' | translate }}</p>
    </div>
  </div>

  <!-- Progress Bar -->
  <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>

  <!-- Form -->
  <form [formGroup]="form" (ngSubmit)="nextStep()">
    <div class="question">
      <label>{{ 'Step3.QUESTION_US_RESIDENT' | translate }}</label>
      <mat-slide-toggle formControlName="usResident" color="primary"
        (change)="onToggleChange('usResident', $event.checked)">
        {{ form.get('usResident')?.value ? ('Step3.OPTION_YES' | translate) : ('Step3.OPTION_NO' | translate) }}
      </mat-slide-toggle>
    </div>

    <div class="question">
      <label>{{ 'Step3.QUESTION_US_CITIZEN' | translate }}</label>
      <mat-slide-toggle formControlName="usCitizen" color="primary"
        (change)="onToggleChange('usCitizen', $event.checked)">
        {{ form.get('usCitizen')?.value ? ('Step3.OPTION_YES' | translate) : ('Step3.OPTION_NO' | translate) }}
      </mat-slide-toggle>
    </div>
    <div class="button-container text-end">

      <button>
        {{ 'Step3.BUTTON_CONTINUE' | translate }}
      </button>
    </div>
  </form>
</div>